<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='/bootstrap-4.5.2/dist/css/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/util.js"></script>
  </head>
  <body>
    <main class="container">
      <aside class="card">
        <div class="card-body">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Nuevo</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <form class="form-row" action="/create/bucket" method="post">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Crear Bucket</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="name_file">Nombre del Bucket</label>
                    <input type="text" class="form-control" id="name_file" name="name_file" placeholder="MyBucket">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </aside>
      <section class="card">
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Bucket</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
              <% var cont = 0; %>
              <% buckets.forEach(function(item){ %>
                <% cont++; %>
              <tr>
                <th scope="row"><%= cont %></th>
                <td><%= item.Name %></td>
                <td><script>document.write(getDateString('<%= item.CreationDate %>', 'DD de S_MONTH del YYYY a las HH:MIN'));</script></td>
                <td>
                  <a href="/delete/bucket/<%= item.Name %>">Eliminar</a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="/bootstrap-4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
