<!DOCTYPE html>
<html>

<% include head.ejs %>

<body class="grey lighten-5">

    <% include navbar.ejs %>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large nav">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating teal modal-trigger tooltipped" data-position="left" data-tooltip="Crear carpeta" href="#mdl_add_folder">
                    <i class="material-icons">create_new_folder</i>
                </a>
            </li>
            <li>
                <a class="btn-floating blue modal-trigger tooltipped" data-position="left" data-tooltip="Subir archivo" href="#mdl_add_file">
                    <i class="material-icons">file_upload</i>
                </a>
            </li>
            <%if(folder){%>
              <li>
                <a class="btn-floating red tooltipped" data-position="left" data-tooltip="Regresar al inicio" href="/home">
                <i class="material-icons">keyboard_return</i>
              </a>
            </li>
            <%}%>
        </ul>
    </div>

    <div class="container">
        <h1 style="color: #212121;"><%if(folder){%>Archivos dentro de <%= folder %><%}%></h1>
        <div class="row">
          <% buckets.forEach(function(item){ %>
          <% if(item.Key.slice(-1) == "/"){ %>
          <% if(item.Key != folder){ %>
          <div class="col s3">
            <div class="card small">
              <div class="card-image center-align car_img">
                <i class="large material-icons icon_color">folder</i>
              </div>
              <div class="card-content left-align">
                <span class="card-title"><%= item.Key %></span>
              </div>
              <div class="card-action right-align teal">
                <a href="/home/<%= item.Key %>">Abrir &nbsp;<i class="material-icons">open_in_new</i></a>
                <a href="/bucket/delete/folder/<%= item.Key %>">Eliminar &nbsp;<i class="material-icons">delete</i></a>
              </div>
            </div>
          </div>
          <% } %>
          <% }else{ %>
            <%if(item.Key.substring(item.Key.lastIndexOf("/")).substring(0, 1) != "/"){%>
              <div class="col s3">
                <div class="card small">
                  <div class="card-image center-align car_img">
                    <i class="large material-icons icon_color">insert_drive_file</i>
                  </div>
                  <div class="card-content left-align">
                    <span class="card-title"><%= item.Key.substring(item.Key.lastIndexOf("/")+1) %></span>
                  </div>
                  <div class="card-action right-align teal" style="padding-left: 0px;">
                    <a href="/bucket/download/<%= item.Key %>">Descargar <i class="material-icons teal">save_alt</i></a>
                    <a href="/bucket/delete/file/<%= item.Key %>">Eliminar<i class="material-icons">delete</i></a>
                  </div>
                </div>
              </div>
            <%}else if(folder){%>
              <div class="col s3">
                <div class="card small">
                  <div class="card-image center-align car_img">
                    <i class="large material-icons icon_color">insert_drive_file</i>
                  </div>
                  <div class="card-content left-align">
                    <span class="card-title"><%= item.Key.substring(item.Key.lastIndexOf("/")+1) %></span>
                  </div>
                  <div class="card-action right-align teal" style="padding-left: 0px;">
                    <a href="/bucket/download/<%= item.Key %>">Descargar <i class="material-icons teal">save_alt</i></a>
                    <a href="/bucket/delete/file/<%= item.Key %>">Eliminar<i class="material-icons">delete</i></a>
                  </div>
                </div>
              </div>
            <%}%>
          <% } %>
          <% }); %>

        </div>
    </div>

    <div id="mdl_add_folder" class="modal modal_bg">
        <form action="/bucket/create/folder" method="post">
            <div class="modal-content">
                <h4>Nueva carpeta</h4>
                <p>A continuación, ingrese el nombre de la nueva carpeta </p>
                <div class="field-wrap">
                    <label>
                        Nombre<span class="req">*</span>
                    </label>
                    <input type="text" name="name" id="folder_name" style="color: #212121;" required autocomplete="off" />
                    <%if(folder){%>
                      <input type="hidden" name="parent" value="<%= folder %>">
                    <%}%>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                <button type="sumit" class="modal-close waves-effect waves-green btn-flat">Guardar</button>
            </div>
        </form>
    </div>

    <div id="mdl_add_file" class="modal modal_bg">
        <form action="/bucket/create/file" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <h4>Nuevo Archivo</h4>
                <p>A continuación, seleccione un archivo </p>
                <div class="field-wrap">
                    <label>
                        Nombre<span class="req">*</span>
                    </label>
                    <input type="file" name="file" id="file" required autocomplete="off" />
                    <%if(folder){%>
                      <input type="hidden" name="parent" value="<%= folder %>">
                    <%}%>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                <button type="sumit" class="modal-close waves-effect waves-green btn-flat">Guardar</button>
            </div>
        </form>
    </div>

    </div>

    <% include scripts.ejs %>

</body>

</html>
