<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> <% title %> </title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/jpg" href="/images/logo_aws.jpg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

  <div class="form">

    <ul class="tab-group">
      <li class="tab active"><a href="#signup">Regristrarme</a></li>
      <li class="tab"><a href="#login">Ingresar</a></li>
    </ul>

    <div class="tab-content">
      <div id="signup">
        <h1>Ingrese us datos</h1>

        <form action="/save" method="post">

          <div class="top-row">
            <div class="field-wrap">
              <label>
                Nombre<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" name="name_user" />
            </div>

            <div class="field-wrap">
              <label>
                Apellido<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" name="last_name_user" />
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email<span class="req">*</span>
            </label>
            <input type="email" required autocomplete="off" name="email_user" />
          </div>

          <div class="field-wrap">
            <label>
              Contraseña<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off" name="password_user" />
          </div>

          <button type="submit" class="button button-block" />Crear</button>

        </form>

      </div>

      <div id="login">
        <h1>Bienveido</h1>

        <form action="/auth" method="post">

          <div class="field-wrap">
            <label>
              Email<span class="req">*</span>
            </label>
            <input type="email" required autocomplete="off" name="email" />
          </div>

          <div class="field-wrap">
            <label>
              Contraseña<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off" name="pass" />
          </div>

          <button class="button button-block" />Ingresar</button>

        </form>

      </div>

    </div><!-- tab-content -->

  </div> <!-- /form -->
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <%if(message && message != ""){%>
  <%if(message.length > 0){%>
    <%message.forEach(function(item){%>
      <script>
      Swal.fire(
        '<%= item.msg %>',
        '',
        '<%= item.icon %>'
      );
      </script>
    <%});%>
  <%}else{%>
    <script>
    Swal.fire(
      '<%= message.msg %>',
      '',
      '<%= message.icon %>'
    );
    </script>
  <%}%>
  <%}%>
</body>

</html>
