<nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo">
        <img height="20px" src="/images/logo_aws.jpg">
        <strong>UNL DRIVE - Grupo AWS</strong>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="javascript:location.reload()"><i class="large material-icons">sync</i>Actualizar</a></li>
        <li><a href="/logout"><i class="large material-icons">exit_to_app</i>Cerrar sesión</a></li>
      </ul>
    </div>
</nav>
