<!DOCTYPE html>

<html>

<% include head.ejs %>

<body class="grey lighten-5">

    <% include navbar.ejs %>

    <div class="container">

        <div class="row">

            <div class="col s3">
                <div class="card small">
                    <div class="card-image center-align car_img">
                        <i class="large material-icons icon_color">folder</i>
                    </div>
                    <div class="card-content left-align">
                        <span class="card-title">Nombre carpeta</span>
                    </div>
                    <div class="card-action right-align teal">
                        <a href="">Abrir &nbsp;<i class="material-icons">open_in_new</i></a>
                    </div>
                </div>
            </div>

            <div class="col s3">
                <div class="card small">
                    <div class="card-image center-align car_img">
                        <i class="large material-icons icon_color">insert_drive_file</i>
                    </div>
                    <div class="card-content left-align">
                        <span class="card-title">Nombre archivo</span>
                    </div>
                    <div class="card-action right-align teal">
                        <a href="">Abrir &nbsp;<i class="material-icons teal">open_in_new</i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>