<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.fixed-action-btn').floatingActionButton();
    });
    $(document).ready(function () {
        $('.modal').modal();
    });
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<%if(message && message != ""){%>
<%if(message.length > 0){%>
  <%message.forEach(function(item){%>
    <script>
    Swal.fire(
      '<%= item.msg %>',
      '',
      '<%= item.icon %>'
    );
    </script>
  <%});%>
<%}else{%>
  <script>
  Swal.fire(
    '<%= message.msg %>',
    '',
    '<%= message.icon %>'
  );
  </script>
<%}%>
<%}%>
